<main class="main" *ngIf="user?.uid">
  <section class="section">
    <mat-card>
      <mat-card-title-group>
        <mat-card-title>
          Profile
        </mat-card-title>
        <mat-card-subtitle>
          Here are your account informations!
        </mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content>
        <form
          [formGroup]="profileForm"
          (ngSubmit)="submitChanges()"
        >
          <mat-tab-group dynamicHeight>
            <mat-tab label="General">
              <mat-form-field appearance="outline">
                <mat-label>
                  Email
                </mat-label>
                <input
                  matInput
                  type="email"
                  formControlName="email"
                  #email
                  readonly
                >
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>
                  UID
                </mat-label>
                <input
                  matInput
                  type="text"
                  formControlName="uid"
                  #uid
                  readonly
                >
              </mat-form-field>
            </mat-tab>
            <mat-tab label="Address">
              <mat-form-field
                appearance="outline"
                class="address-field"
              >
                <mat-label>
                  Zipcode
                </mat-label>
                <input
                  matInput
                  type="text"
                  formControlName="zipcode"
                  #zipcode
                  required
                  pattern="[0-9]{8}"
                  (keyup)="searchZipcode(zipcode.value)"
                >
                <mat-error>
                  Zipcode is not valid!
                </mat-error>
              </mat-form-field>
              <mat-form-field
                appearance="outline"
                class="address-field"
                *ngIf="address && !address.erro"
              >
                <mat-label>
                  State
                </mat-label>
                <input
                  matInput
                  type="text"
                  formControlName="state"
                  #state
                  readonly
                >
              </mat-form-field>
              <mat-form-field
                appearance="outline"
                class="address-field"
                *ngIf="address && !address.erro"
              >
                <mat-label>
                  City
                </mat-label>
                <input
                  matInput
                  type="text"
                  formControlName="city"
                  #city
                  readonly
                >
              </mat-form-field>
              <mat-form-field
                appearance="outline"
                class="address-field"
                *ngIf="address && !address.erro"
              >
                <mat-label>
                  District
                </mat-label>
                <input
                  matInput
                  type="text"
                  formControlName="district"
                  #district
                  readonly
                >
              </mat-form-field>
              <mat-form-field
                appearance="outline"
                *ngIf="address && !address.erro"
              >
                <mat-label>
                  Street
                </mat-label>
                <input
                  matInput
                  type="text"
                  formControlName="street"
                  #street
                  readonly
                >
              </mat-form-field>
            </mat-tab>
          </mat-tab-group>
          <button
            mat-flat-button
            color="accent"
            class="submit-button"
            type="submit"
            [disabled]="address && address.erro || profileForm.pristine"
          >
            Save Changes
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </section>
</main>