<main class="main">
  <section class="section">
    <mat-card>
      <mat-card-title-group>
        <mat-card-title>
          Profile
        </mat-card-title>
        <mat-card-subtitle>
          Here are your account informations!
        </mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content>
        <form>
          <mat-tab-group dynamicHeight>
            <mat-tab label="General">
              <mat-form-field appearance="outline">
                <mat-label>
                  Email
                </mat-label>
                <input
                  matInput
                  type="email"
                  #email
                  readonly
                >
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>
                  UID
                </mat-label>
                <input
                  matInput
                  type="text"
                  #uid
                  readonly
                >
              </mat-form-field>
            </mat-tab>
            <mat-tab label="Address">
              <mat-form-field
                appearance="outline"
                class="address-field"
              >
                <mat-label>
                  Zipcode
                </mat-label>
                <input
                  matInput
                  type="number"
                  #zipcode
                  required
                >
              </mat-form-field>
              <mat-form-field
                appearance="outline"
                class="address-field"
              >
                <mat-label>
                  State
                </mat-label>
                <input
                  matInput
                  type="text"
                  #state
                  readonly
                >
              </mat-form-field>
              <mat-form-field
                appearance="outline"
                class="address-field"
              >
                <mat-label>
                  City
                </mat-label>
                <input
                  matInput
                  type="text"
                  #city
                  readonly
                >
              </mat-form-field>
              <mat-form-field
                appearance="outline"
                class="address-field"
              >
                <mat-label>
                  District
                </mat-label>
                <input
                  matInput
                  type="text"
                  #district
                  readonly
                >
              </mat-form-field>
              <mat-form-field
                appearance="outline"
              >
                <mat-label>
                  Street
                </mat-label>
                <input
                  matInput
                  type="text"
                  #street
                  readonly
                >
              </mat-form-field>
            </mat-tab>
          </mat-tab-group>
          <button
            mat-flat-button
            color="accent"
            class="submit-button"
            type="submit"
          >
            Save Changes
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </section>
</main>