@import '../../../../assets/styles/common.scss';

.course {
  box-sizing: border-box;
  width: 55em;
}

.class {
  width: 20em;
  height: 5em;
  margin-bottom: 2em;
}

.media {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10em;
  margin-bottom: 1.5em;
  border: 1px solid $material-form-outline-color;
  border-radius: 0.4em;

  .mat-icon {

    color: $primary-color;
    padding: 0 0.3em;
    cursor: pointer;

    &:hover {
      color: $accent-darker-color;
    }

  }

}

.sidebar {
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  width: 20em;
  height: 25em;
  border: 1px solid $material-form-outline-color;
  border-radius: 0.4em;
}

.mat-card-content {
  display: flex;
  justify-content: space-between;
}

.mat-card-footer {
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
}

textarea {
  overflow-x: hidden;
  overflow-y: scroll;
  min-height: 5em;
  resize: none !important;
}