// warn color
$warn-color: var(--warn-color);
$warn-lighter-color: var(--warn-lighter-color);
$warn-darker-color: var(--warn-darker-color);
$text-warn-color: var(--text-warn-color);
$text-warn-lighter-color: var(--text-warn-lighter-color);
$text-warn-darker-color: var(--text-warn-darker-color);

// accent color
$accent-color: var(--accent-color);
$accent-lighter-color: var(--accent-lighter-color);
$accent-darker-color: var(--accent-darker-color);
$text-accent-color: var(--text-accent-color);
$text-accent-lighter-color: var(--text-accent-lighter-color);
$text-accent-darker-color: var(--text-accent-darker-color);

// primary color
$primary-color: var(--primary-color);
$primary-lighter-color: var(--primary-lighter-color);
$primary-darker-color: var(--primary-darker-color);
$text-primary-color: var(--text-primary-color);
$text-primary-lighter-color: var(--text-primary-lighter-color);
$text-primary-darker-color: var(--text-primary-darker-color);